<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>	
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Reading Settings</ion-label>
      </ion-list-header>

      <ion-item>
    	<ion-label>Pepperoni</ion-label>
		<ion-checkbox color="primary"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>User Interface</ion-label>
      </ion-list-header>

      <ion-item>
    	<ion-label>Dark Mode</ion-label>
		<ion-toggle color="primary"></ion-toggle>
      </ion-item>
    </ion-list>

</ion-content>
