
<ion-content class="ion-padding ion-justify-content-center">
    <div class="arion-sep-20"></div>
	  <img class="login-logo vertical-align-content" src="/assets/images/ao3_logo.png">
    <div class="arion-sep-5"></div>
    <div class="ion-margin-vertical"></div>
    <ion-item class="ion-margin-vertical">
  		<ion-label position="floating">User name</ion-label>
  		<ion-input class="ios" autofocus="true"></ion-input>
	</ion-item>
    <ion-item class="ion-margin-vertical">
  		<ion-label position="floating">Password</ion-label>
  		<ion-input clearInput type="password"></ion-input>
	</ion-item>
    <ion-button mode="ios" expand="block" class="ion-margin-vertical">Sign in</ion-button>
    <ion-button expand="block" class="ion-text-center" color="medium" shape="round" fill="clear">Forgot password?</ion-button>
    <div class="arion-sep-10"></div>
    <ion-button expand="block" class="ion-text-center" color="primary" shape="round" fill="clear">Don't have an account?</ion-button>
</ion-content>
