
p, span, ion-label {
   font-family: 'Roboto Regular';
 }

ion-title, h1, h2, h3, ion-card-title, ion-list-header {
   font-family: 'Manrope Bold';
}

.product-sans {
   font-family: 'Manrope Bold';
}

.product-sans-header {
   font-family: 'Manrope Bold';
}

.th-icon-header {
  font-size: 16px !important;
  margin-top: 6px;
  margin-right: 6px;
}

.arion-statusbar-shadow {
  height: 2.5px !important;
  z-index: 999 !important;
  background: var(--ion-background-color);
}

.arion-statusbar-shadow-hide::after {
  opacity: 0 !important;
}

.arion-discover-header {
  margin-bottom: -5% !important;
  margin-left: 3.7% !important;
  margin-right: 3.7% !important;
}

.arion-discover-header-button {
  margin-top: 6% !important;
  margin-right: -8% !important;
}

.arion-discover-header-text {
  font-size: 120%;
}

.arion-search-header-text {
  font-size: 90% !important;
}

.allcaps {
   text-transform: uppercase;
}

.no-ripple {
  --ripple-color: transparent;
}

.arion-logo {
  fill: var(--ion-color-primary);
}

.arion-discover-card {
  width: 80% !important;
  height: 100% !important;
  display: inline-block;
  height: 100% !important;
  margin-right: -2.5% !important;
  margin-left: 8.7% !important;
}

.arion-discover-whitespace {
  width: 25px !important;
  height: 100% !important;
  display: inline-block;
  height: 100% !important;
  margin-right: -3% !important;
  margin-left: 8.7% !important;
}

.arion-discover-cover {
  height: 175px;
  object-fit: cover;
}

.arion-discover-card-content {
  padding-bottom: 5%;
}

.arion-discover-text {
  white-space: normal !important;
}

.searchbar-input {
    box-shadow: none !important;
    border-style: solid !important;
    border-width: 0.5px !important;
    border-color: rgba(var(--ion-color-light-rgb), 0.5)!important;
    border-radius: 6px !important;
}

.searchbar-search-icon {
  width: 15px !important;
  margin-left: 1.5%;
}

.arion-discover-cards{
  overflow-x: scroll;
  overflow-y: hidden;
  .arion-discover-card-list{
    white-space: nowrap;
  }
}
::-webkit-scrollbar { 
  display: none; 
}
