
.arion-sep-20 {
	height: 20%;
}
.arion-sep-15 {
	height: 15%;
}
.arion-sep-10 {
	height: 10%;
}
.arion-sep-5 {
  height: 5%;
}
.arion-sep-2p5 {
  height: 2.5%;
}
.arion-spa-5 {
  width: 0.25%;
}

.vertical-align-content {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

.center-align-content {
  align-content: center!important;
  align-items: center!important;
  margin: auto;
}
