
.login-logo {
    width: 30%;
    height: auto;
    margin: auto;
}

.arion-login-footer {
  position:absolute;
  bottom: 10%;
  align-content: center!important;
  align-items: center!important;
  margin: auto;
  width: auto;
}
