/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './theme/fonts';
@import './theme/variables';

@import './theme/arion-main-components';
@import './theme/arion-login-components';
@import './theme/arion-separator-components';

ion-tab-button[aria-selected=true] .arion-tab-sel {
  border-bottom: 5px solid var(--ion-color-primary);
}

.arion-tab-sel {
  width: 30px;
  height: 6px;
  position:absolute;
  bottom: 0;
}

.app-icon {
  width: 100px;
  height: 100px;
}

.user-info-icon {
  width: 80px;
  height: 80px;
}

.hide-background {
    --background: transparent;
    --ion-color-base: transparent !important;
    border-style: none;
    background: transparent;
}
.hide-background-header::after {
    border-style: none;
    background-image: none !important;
}
