<ion-header class="arion-statusbar-shadow" [class.arion-statusbar-shadow-hide]="hideToolbar">
    <div class="arion-statusbar-shadow"></div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
	<ion-header no-border mode="ios" class="ios ion-padding">
	  <ion-toolbar mode="ios" class="ios">
		  <ion-buttons slot="secondary">
		    <ion-button fill="clear" color="primary" class="no-ripple">
		      <ion-icon color="primary" slot="icon-only" class="arion-logo" src="/assets/fonts/icons/arion.svg"></ion-icon>
		    </ion-button>
		  </ion-buttons>

	      <ion-title color="primary" class="product-sans-header">Discover</ion-title>

		  <ion-buttons slot="primary">
		    <ion-button color="primary" routerLink="/tabs/search">
		      <ion-icon color="medium" slot="icon-only" class="th-icon-header" src="/assets/fonts/icons/search.svg"></ion-icon>
		    </ion-button>
		  </ion-buttons>
	  </ion-toolbar>
	</ion-header>


	<ion-grid class="arion-discover-header ion-padding">
	  <ion-row><ion-col><h3 class="product-sans-header arion-discover-header-text">Recently Read</h3></ion-col>
	    <ion-col><ion-button class="product-sans arion-discover-header-button" shape="round" fill="clear" color="primary" float-right>More</ion-button></ion-col>
	  </ion-row>
    </ion-grid>

	<div class="arion-discover-cards">
	  <div class="arion-discover-card-list">
		<ion-card mode="ios" class="arion-discover-card">
	      <img class="arion-discover-cover" src="/assets/app-icon.png" />
		  <ion-card-header class="arion-discover-text">
		  	<br>
		    <ion-card-subtitle color="primary">Author</ion-card-subtitle>
		    <ion-card-title>Card Title</ion-card-title>
		    <ion-card-subtitle color="medium">Fandom</ion-card-subtitle>
		  </ion-card-header>

		  <ion-card-content class="arion-discover-text arion-discover-card-content">
		   <span>Keep close to Nature's heart... and break clear away, once in awhile,
		    and climb a mountain or spend a week in the woods. Wash your spirit clean.</span>
		  </ion-card-content>
		  <br>
		</ion-card>

		<ion-card mode="ios" class="arion-discover-card">
	      <img class="arion-discover-cover" src="/assets/app-icon.png" />
		  <ion-card-header class="arion-discover-text">
		  	<br>
		    <ion-card-subtitle color="primary">Author</ion-card-subtitle>
		    <ion-card-title>Card Title</ion-card-title>
		    <ion-card-subtitle color="medium">Fandom</ion-card-subtitle>
		  </ion-card-header>

		  <ion-card-content class="arion-discover-text arion-discover-card-content">
		   <span>Keep close to Nature's heart... and break clear away, once in awhile,
		    and climb a mountain or spend a week in the woods. Wash your spirit clean.</span>
		  </ion-card-content>
		  <br>
		</ion-card>

	    <div class="arion-discover-whitespace"></div>
	  </div>


</div>
</ion-content>
